body {
    background-color: #1C2833;
}

p {
    margin: 3px;
}

.regions {
    margin: 0px 0px 5% 0px;
}

.tiles-container {
    display: flex;
    flex-wrap: wrap;
}

.tile {
    background-color: #34495E;
    color: white;
    border-radius: 10px;
    text-align:center;
    width: 40%;
    margin: 10px 10px;
    padding: 1px 0px 10px 0px;
}